ul.menu_flotante
	li
		button.btn_menu_flotante
			i.fa.fa-briefcase
			span Workspace
	li
		button.btn_menu_flotante
			i.fa.fa-list-ul
			span Lista de tareas
	li
		button.btn_menu_flotante
			i.fa.fa-sticky-note-o
			span Nota
	li
		button.btn_menu_flotante
			i.fa.fa-bullhorn
			span Conversación
	li
		button.btn_menu_flotante
			i.fa.fa-th 
			span Tarea