<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Document
	link(rel="stylesheet", href="css/style.css")
	meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
body
	nav.bg1.nav-sup
		ul.push_left
			li: button.active.cw.bg1.btn-sup Dashboard
			li: button.cw.bg1.btn-sup Espacios de trabajo
			li: button.cw.bg1.btn-sup Conferencias HD
		ul.push_right
			li.search_content
				input.input_search(type="text", placeholder="Buscar", class="icon-search")
				i.fa.fa-search

			li: a(href="").help_question: i.c1.fa.fa-question-circle
			li: a.user_perfil(href="") E
	nav.bgw.Dasboard-subnav
		ul.push_left
			li: button.active Notificaciones
			li: button Actividades
