nav.bg1.nav-sup
	ul.push_left
		li: button.active.cw.bg1.btn-sup Dashboard
		li.menu_workspace.menu_dropdown
			button.cw.bg1.btn-sup Espacios de trabajo
			ul
				li: input.filtro(type="text", placeholder="Filtrar espacios de trabajo")
				li: strong Incubasoft
				li: a.fz13(href="") Como ser feliz en mi trabajo	
				li: a.fz13(href="") Openkardex
				li: a.fz13(href="") VGLIFE
		li.menu_dropdown 
			button.cw.bg1.btn-sup Conferencias HD
			ul
				li: a.fz13(href="") Meet now
				li: a.fz13(href="") Schedule a meeting

	ul.push_right
		li.search_content
			input.input_search(type="text", placeholder="Buscar", class="icon-search")
			i.fa.fa-search
		li: a(href="").help_question: i.c1.fa.fa-question-circle
		li: a.user_perfil(href="") E